In [22]:
from astroquery.jplhorizons import Horizons
from astropy.time import Time
obj = Horizons(id=1, location="@sun", epochs=Time("2017-01-01").jd, id_type='id').vectors()

In [5]:
print(obj)

       targetname        datetime_jd ...      range_rate
          ---                 d      ...        AU / d
------------------------ ----------- ... --------------------
Mercury Barycenter (199)   2457754.5 ... 0.003693374755872082

In [7]:
obj.keys()

['targetname',
 'datetime_jd',
 'datetime_str',
 'x',
 'y',
 'z',
 'vx',
 'vy',
 'vz',
 'lighttime',
 'range',
 'range_rate']

In [8]:
obj['x']

<MaskedColumn name='x' dtype='float64' unit='AU' length=1>
-0.1433719450349873

In [12]:
obj['vz']

<MaskedColumn name='vz' dtype='float64' unit='AU / d' length=1>
0.001872970948659503

In [10]:
import math
math.sqrt(obj['vx']**2+obj['vy']**2+obj['vz']**2)

0.03294411078103789

In [1]:
from astroquery.jplhorizons import Horizons
from astropy.time import Time
obj = Horizons(id=2, location="@sun", epochs=Time("2017-01-01").jd, id_type='id').vectors()

WARNING: AstropyDeprecationWarning: ``id_type``s 'majorbody' and 'id' are deprecated and replaced with ``None``, which has the same functionality. [astroquery.jplhorizons.core]

In [2]:
print(obj)

      targetname       datetime_jd ...       range_rate
         ---                d      ...         AU / d
---------------------- ----------- ... ----------------------
Venus Barycenter (299)   2457754.5 ... -0.0001350146860540198

In [3]:
obj.keys()

['targetname',
 'datetime_jd',
 'datetime_str',
 'x',
 'y',
 'z',
 'vx',
 'vy',
 'vz',
 'lighttime',
 'range',
 'range_rate']

In [5]:
import math
math.sqrt(obj['vx']**2+obj['vy']**2+obj['vz']**2)

0.020246086433896145

In [6]:
obj['vz']

<MaskedColumn name='vz' dtype='float64' unit='AU / d' length=1>
0.001071832466365052

In [7]:
obj = Horizons(id=0, location="@sun", epochs=Time("2017-01-01").jd, id_type='id').vectors()

In [8]:
print(obj)

         targetname         datetime_jd ...       range_rate
            ---                  d      ...         AU / d
--------------------------- ----------- ... ---------------------
Solar System Barycenter (0)   2457754.5 ... 3.380685954371763e-06

In [9]:
obj['x']

<MaskedColumn name='x' dtype='float64' unit='AU' length=1>
-0.003384830529503241

In [10]:
obj['y']

<MaskedColumn name='y' dtype='float64' unit='AU' length=1>
-0.003936325539350818

In [11]:
obj['z']

<MaskedColumn name='z' dtype='float64' unit='AU' length=1>
0.0001560160317433194

In [12]:
obj = Horizons(id='sun', location="@sun", epochs=Time("2017-01-01").jd, id_type='id').vectors()

In [13]:
print(obj)

targetname datetime_jd          datetime_str          ... range range_rate
   ---          d                   ---               ...   AU    AU / d
---------- ----------- ------------------------------ ... ----- ----------
  Sun (10)   2457754.5 A.D. 2017-Jan-01 00:00:00.0000 ...   0.0        0.0

In [14]:
obj['x']

<MaskedColumn name='x' dtype='float64' unit='AU' length=1>
0.0

In [16]:
obj['y']

<MaskedColumn name='y' dtype='float64' unit='AU' length=1>
0.0

In [17]:
obj['z']

<MaskedColumn name='z' dtype='float64' unit='AU' length=1>
0.0

In [18]:
math.sqrt(obj['vx']**2+obj['vy']**2+obj['vz']**2)

0.0

In [49]:
obj = Horizons(id='301', location="@3", epochs=Time("2017-01-01").jd, id_type='id').vectors()
print(f"position = ({obj['x'].value[0]},{obj['y'].value[0]},{obj['z'].value[0]}) ")

position = (0.001714428448831456,-0.001931147661450682,8.913387414533326e-05)

In [50]:
obj = Horizons(id='301', location="@3", epochs=Time("2017-02-01").jd, id_type='id').vectors()
print(f"position = ({obj['x'].value[0]},{obj['y'].value[0]},{obj['z'].value[0]}) ")

position = (0.002485979247323099,4.418732057956604e-05,-0.00010677113072477)

In [43]:
type(obj['x'].value)

numpy.ma.core.MaskedArray

In [66]:
obj = Horizons(id='3', location="@3", epochs=Time("2017-02-01").jd, id_type=None).vectors()
print(f"position = ({obj['x'].value[0]},{obj['y'].value[0]},{obj['z'].value[0]}) ")

position = (0.0,0.0,0.0)

In [82]:
obj = Horizons(id='3', location="@0", epochs={'start':"2017-02-01",'stop':"2017-05-01",'step':'1d'}, id_type=None).vectors()
obj

<Table masked=True length=90>
        targetname        datetime_jd ...       range_rate
           ---                 d      ...         AU / d
          str25             float64   ...        float64
------------------------- ----------- ... ---------------------
Earth-Moon Barycenter (3)   2457785.5 ... 5.450799887175853e-05
Earth-Moon Barycenter (3)   2457786.5 ... 5.861000256203369e-05
Earth-Moon Barycenter (3)   2457787.5 ... 6.268951833712708e-05
Earth-Moon Barycenter (3)   2457788.5 ... 6.674525286086738e-05
Earth-Moon Barycenter (3)   2457789.5 ... 7.077592025466521e-05
Earth-Moon Barycenter (3)   2457790.5 ... 7.478024464221817e-05
                      ...         ... ...                   ...
Earth-Moon Barycenter (3)   2457869.5 ... 0.0002290721839631875
Earth-Moon Barycenter (3)   2457870.5 ... 0.0002284317511057591
Earth-Moon Barycenter (3)   2457871.5 ... 0.0002277247194757777
Earth-Moon Barycenter (3)   2457872.5 ...  0.000226951446542862
Earth-Moon Barycenter (3)   2457873.5 ... 0.0002261123050181525
Earth-Moon Barycenter (3)   2457874.5 ... 0.0002252076813757096

In [84]:
len(obj['x'])

90